In [1]:
import warnings
warnings.filterwarnings('ignore')

In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import date, timedelta


%matplotlib inline

In [3]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots


init_notebook_mode(connected=True)

## Explanatory analysis

Current analysis includes:
 - [Confirmed cases globally](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv) (country/region, province/state);
 - [Deaths globally](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv) (country/region, province/state).

### Total confirmed cases

In [49]:
df_confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_confirmed.fillna('None', inplace = True)

In [50]:
df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,None,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,11,16,21,22,22,22,24,24,40,40
1,None,Albania,41.1533,20.1683,0,0,0,0,0,0,...,38,42,51,55,59,64,70,76,89,104
2,None,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,37,48,54,60,74,87,90,139,201,230
3,None,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,2,39,39,53,75,88,113,133
4,None,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,3

In [52]:
df_confirmed['Last cumulative'] = df_confirmed.iloc[:, -1]

The data is structured in a way, that each consequent date contains **cummulative sum** of confirmed cases.

In [57]:
print('Confirmed cases by', date.today()- timedelta(days=1))

Confirmed cases by 2020-03-23

In [71]:
total_confirmed = df_confirmed[['Country/Region', 'Last cumulative']]
total_confirmed= total_confirmed.groupby('Country/Region')['Last cumulative'].sum().to_frame()
total_confirmed.sort_values('Last cumulative', ascending=False, inplace = True)

### Total death cases

Death cases data is organised in a same way as confirmed cases (cummulative numbers over the time).

In [78]:
df_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
df_deaths.fillna('None', inplace = True)

In [79]:
df_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,None,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,None,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,4
2,None,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,3,4,4,4,7,9,11,15,17,17
3,None,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,None,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
df_deaths['Last cumulative'] = df_deaths.iloc[:, -1]
print('Number of death cases by', date.today()- timedelta(days=1))

Number of death cases by 2020-03-23

In [81]:
total_deaths = df_deaths[['Country/Region', 'Last cumulative']]
total_deaths= total_deaths.groupby('Country/Region')['Last cumulative'].sum().to_frame()
total_deaths.sort_values('Last cumulative', ascending=False, inplace = True)

### Global mortality rate, %

In [94]:
all_cases = total_confirmed.join(total_deaths, lsuffix='_confirmed', rsuffix='_deaths')
all_cases.rename(columns={'Last cumulative_confirmed':'Total confirmed',
                         'Last cumulative_deaths':'Total deaths'}, inplace = True)
all_cases['mortality rate, %'] = round(all_cases['Total deaths']/all_cases['Total confirmed']*100,2)

In [95]:
all_cases

,Total confirmed,Total deaths,"mortality rate, %"
Country/Region,,,
China,81498,3274,4.02
Italy,63927,6077,9.51
US,43847,557,1.27
Spain,35136,2311,6.58
Germany,29056,123,0.42
Iran,23049,1812,7.86
France,20123,862,4.28
"Korea, South",8961,111,1.24
Switzerland,8795,120,1.36
United Kingdom,6726,336,5.00
Netherlands,4764,214,4.49
Austria,4474,21,0.47
Belgium,3743,88,2.35
Norway,2621,10,0.38
Canada,2088,25,1.20
Portugal,2060,23,1.12
Sweden,2046,25,1.22
Brazil,1924,34,1.77
Australia,1682,7,0.42
Denmark,1572,24,1.53
Turkey,1529,37,2.42
Malaysia,1518,14,0.92
Israel,1442,1,0.07
Czechia,1236,1,0.08
Japan,1128,42,3.72
Ireland,1125,6,0.53
Ecuador,981,18,1.83
Luxembourg,875,8,0.91
Pakistan,875,6,0.69
Poland,749,8,1.07
...,...,...,...
Fiji,3,0,0.00
Zambia,3,0,0.00
Angola,3,0,0.00
Antigua and Barbuda,3,0,0.00
Niger,3,0,0.00
Cabo Verde,3,0,0.00
Central African Republic,3,0,0.00
Liberia,3,0,0.00
Zimbabwe,3,1,33.33
El Salvador,3,0,0.00
Saint Lucia,3,0,0.00
Djibouti,3,0,0.00
Bhutan,2,0,0.00
Dominica,2,0,0.00
Mauritania,2,0,0.00
Gambia,2,1,50.00
Sudan,2,1,50.00
Nicaragua,2,0,0.00
Nepal,2,0,0.00
Saint Vincent and the Grenadines,1,0,0.00
Somalia,1,0,0.00
Mozambique,1,0,0.00
Grenada,1,0,0.00
Belize,1,0,0.00
Syria,1,0,0.00
Eritrea,1,0,0.00
Chad,1,0,0.00
Holy See,1,0,0.00
Papua New Guinea,1,0,0.00
Timor-Leste,1,0,0.00

### Measurements in dynamic

In [106]:
dates = df_confirmed.iloc[:, 4:-1].columns.to_list()
confirmed_melted = pd.melt(df_confirmed.iloc[:, :-1], id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
        value_vars=dates)
confirmed_melted.head(10)

,Province/State,Country/Region,Lat,Long,variable,value
0,None,Afghanistan,33.0000,65.0000,1/22/20,0
1,None,Albania,41.1533,20.1683,1/22/20,0
2,None,Algeria,28.0339,1.6596,1/22/20,0
3,None,Andorra,42.5063,1.5218,1/22/20,0
4,None,Angola,-11.2027,17.8739,1/22/20,0
5,None,Antigua and Barbuda,17.0608,-61.7964,1/22/20,0
6,None,Argentina,-38.4161,-63.6167,1/22/20,0
7,None,Armenia,40.0691,45.0382,1/22/20,0
8,Australian Capital Territory,Australia,-35.4735,149.0124,1/22/20,0
9,New South Wales,Australia,-33.8688,151.2093,1/22/20,0